<section class="main-container">
  <!--PRESENTACION-->
  <div class="card-container">
    <div id="card-large" class="card-large-1">
      <div class="avatar">
        <img src="../../assets/img/avatar1.jpg" >
      </div>
      <div class="h1-heading">
        <h1>Ignacio Alvarado <br/>Desarrollador FullStack <br/> Especialista en FrontEnd</h1>
      </div>
    </div>
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/icons/icon-project2.svg" width="100px">
      <div class="card-medium-1--text">
        <p class="p-title">¿Tienes un proyecto en mente?</p>
        <p class="p-subtitle">Contáctame</p>
      </div>
      <app-button name="ignacioalvaradomarzan@gmail.com"></app-button>
    </div>
  </div>
</section>
<section class="main-container">
  <div class="card-container">
    <div id="card-medium" class="card-medium-2">
      <img src="../../assets/icons/pin.svg" width="100px">
      <p class="p-title">Viña del Mar,<br/>Chile<br/>GMT-4</p>
    </div>
    <div id="card-large" class="card-large-2">
        <p class="p-title">Soy un desarrollador FullStack, más orientado al desarrollo FrontEnd, debido a que es un area que me apasiona, incorporando la lógica de programación y haciendo sitios estéticos y funcionales.</p>
    </div>
  </div>
</section>


<!--TECNOLOGIAS-->
<h2 class="title">Tecnologías</h2>
<section class="main-container">
  <div class="card-container-tech">
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p class="p-text">JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p class="p-text">JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p class="p-text">JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p class="p-text">JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p class="p-text">JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p class="p-text">JavaScript</p>
    </div>

  </div>
</section>

<!--Educacion-->
<h2 class="title">Educación</h2>
<section class="main-container">
  <div class="card-container">
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/img/education/uniacc.png" width="300px">
      <div class="card-medium-1--text">
        <p class="p-subtitle">Ingeniería en Informática<br/>Multimedia</p>
      </div>
    </div>
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/img/education/insignia.png" width="180px">
      <div class="card-medium-1--text">
        <p class="p-subtitle">Bootcamp FullStack JavaScript</p>
      </div>
      <app-button name="Ver" url="https://www.acreditta.com/credential/94f176ff-ce6e-4801-bbd7-d2b636828a7a?utm_source=linkedin_profile&resource_type=badge&resource=94f176ff-ce6e-4801-bbd7-d2b636828a7a"></app-button>
    </div>
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/img/education/aiep.jpg" width="150px">
      <div class="card-medium-1--text">
        <p class="p-subtitle">Diplomado en Diseño y Programación Web</p>
      </div>
      <app-button name="Ver" url="https://drive.google.com/file/d/11T-TQxmLaRLuppiZFHQhzShQj-n6bx_8/view?pli=1"></app-button>
    </div>

  </div>
</section>

<!--PORYECTOS-->
<h2 class="title">Proyectos</h2>
<section class="main-container">
  <div class="card-container">
    <div id="card-large-tall">
      <div class="work-content">
        <p class="p-title">incidencias</p>
        <p class="p-text">propuesta para el senado de la república</p>
      </div>
      <div class="work-img">
        <img src="../../assets/img/proyects/proyect.jpg" alt="">
      </div>
    </div>
    <div id="card-large-tall">
      <div class="work-content">
        <p class="p-title">incidencias</p>
        <p class="p-text">propuesta para el senado de la república</p>
      </div>
      <div class="work-img">
        <img src="../../assets/img/proyects/proyect.jpg" alt="">
      </div>
    </div>


  </div>
</section>

<!--CURRICULUM-->
<h2 class="title">Curriculum</h2>
<section class="main-container">
  <div class="card-container">
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/icons/download.svg" width="100px">
      <div class="card-medium-1--text">
        <p class="p-subtitle">Descarga mi CV Actualizado</p>
      </div>
      <app-button name="Descargar" url="../../assets/files/CV.pdf"></app-button>
    </div>
    <div id="card-large" class="card-large-2">
        <p class="p-title">Me considero una persona muy comprometida con su trabajo, y muy adaptable a diversos entornos profesionales.<br/>Si necesitas más información, puedes descargar mi CV.</p>
    </div>
  </div>
</section>


